html {
    font-family: Arial, Helvetica, sans-serif;
}

/*CSS DEL HEADER*/

header {
    height: 50px;
}
#header {
    width: 300px;
    height: 30px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    float: right;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header a {
    line-height: 30px;
    text-decoration: none;
    font-size: 13px;
    text-align: right;
    vertical-align: middle;
    color: rgba(0, 0, 0, 85);
    opacity: .85;
}

#header-left {
    padding-right: 15px;
}

#header-left a {
    padding-left: 15px;
}

#header-left a:hover {
    opacity: .85;
    text-decoration: underline;
}

#gApp {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-size: 528px 68px;
    background-position: -132px -38px;
}

#logIn {
    display: inline-block;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    color: white !important;
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    line-height: 28px;
    padding: 0 12px 0 12px;
    border-radius: 2px;
    margin-left: 15px;
}

/*FIN CSS DEL HEADER */

/* CSS LOGO DE GOOGLE*/
#central {
    margin:70px auto 0px auto;
    width: 834px;
    height: 415px;
}


#googleLogo {
    width: 272px;
    padding-top: 109px;
    margin: 0px auto;
}
/* FIN CSS LOGO DE GOOGLE*/

/* INICIO SEARCH BAR*/
#searchBar {
    display: flex;

    margin: 0 auto;
    background: white;
 
    border: 1px solid #dfe1e5;
    box shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 582px;
}

svg {
    width: 50%;
    height: auto;
}
#placeholder {
    padding: 5px 8px 16px;
    padding-left: 14px;
 }

 #searchICON {
     display: flex;
     align-items: center;
     margin-top: -5px;
     height: 44px;
     width: 20px;
     color: #9AA0A6;
 }

 #searchSVG {
    fill: #9AA0A6;
    height: 20px;
    width: 20px;
 }

 input {
     background-color: transparent;
     border: none;
     margin: 0;
     word-wrap: break-word;
     outline: none;
     display: flex;
     flex: 100%;
     margin-top: 12px;
     font-size: 16px;
     margin-left: 15px;
 }
/* FIN SEARCH BAR*/

/* INICIO BOTONES */

#botones {
    width: 571px;
    display: block;
    padding-top: 19px;
    margin: 0px auto;
}

#botonesCentrados {
    padding-left: 115px;
}
#botonesInput {
    color: #5F6368;
    display: inline-block;
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    font-family: arial,sans-serif;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 36px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

/* FIN BOTONES */
#ofrecido {
    padding-top: 20px;
    width: 175px;
    margin: 0px auto;
}

p {
    display: inline-block;
    font-size: 12px;
    margin: 0px auto;
}

a{
    text-decoration: none;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 81px;
    background: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
}

#pais {
    font-size: 15px;
    text-align: left;
}

#footerArriba {
    height: 41px;
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.54);
    border-bottom: 1px solid #e4e4e4;
}

#linkFoot {
    font-size: 15px;
    margin-left: 30px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
}

#divIzq {
    display: inline;
    width: 550px;
}
#divDer {
    float: right;
    margin-right: 30px;
}